<!DOCTYPE html>
<html>
  <head>
    <title><%= videoid %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% if (videoid === '') { %>
    <h1>You’re missing the video ID</h1>
  <% } else { %>
    <h1>Tag Your Face</h1>
  <% } %>

    <div id="playercontainer">
      <div id="ytapiplayer">
        You need Flash player 10.1+ and JavaScript enabled to view this video.
      </div>
    </div>

    <div class="slider">
      <input id='slider' type="range" min='0', max='100' step='0.5' value='0'>
    </div>
    <p><a id="play" href="#d">Play</a></p>
    <p><a id="pause" href="#d">Pause</a></p>
    <!-- <p><a id="alt" href="#d">Drop the beat</a></p> -->

    <script src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'></script>
    <script src='/javascripts/tag-your-face.min.js'></script>
  </body>
</html>