body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#ytapiplayer {
  display: none;
}

#playercontainer {
  position: relative;
}

.tag {
  /*border: 1px solid rgba(255, 255, 255, 0.75);*/
  /*color: #fff;*/
  position: absolute;
  padding: 0.33em 0.33em 0.33em 40px;
  /*margin: 0 0 0 20px;*/
  background: rgba(255, 255, 255, 0.5) url('/images/tag.png') 0.33em 50% no-repeat;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 600px;
  width: 150px;
  height: 150px;
  font-size: 18px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 853px;
  background-image: -webkit-linear-gradient(top, #ccc, #ddd);
  border-radius: 10px;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  outline: none;
}